<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}

    <title>{{ site.title }}</title>

    <link href="/vendor/bootstrap/dist/toolkit-minimal.min.css" rel="stylesheet">
    <link href="/index.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8&appId=715100451972477";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


{{ content }}

    <script src="/vendor/bootstrap/dist/toolkit.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js"></script>
  </body>
</html>
